# Core dependencies for EpiBERT
tensorflow==2.12.0
numpy==1.23.5
pandas==2.2.3
scipy==1.15.1
pyfaidx==0.8.1.3
kipoiseq==0.7.0
matplotlib==3.10.0
seaborn==0.13.2
h5py==3.13.0
einops==0.8.1
tensorflow-addons==0.23.0
pybedtools==0.11.0
pysam==0.22.1
pytabix==0.1
bgzip==0.5.0
logomaker==0.8.6
wandb==0.19.8
tqdm==4.67.1
scikit-learn==1.6.1
